h3 {
  padding-bottom: 20px;
}
#create-account {
  position: relative;
  top: 15px;
}

#form-login {
  position: relative;
  top: 7px;
}

.field_with_errors {
  display: inline;
}

.small-wrapper {
  width: 30%;
}

.center {
  margin: auto;
}